.intro__list {
  grid-area: list;
  list-style-type: none;
  margin: 0;
  padding-top: 33px;
  padding-left: 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}

@media screen and (max-width: 320px) {
  .intro__list {
    padding-top: 34px;
    font-size: 12px;
    line-height: 18px;
  }    
}