.header {
  position: relative;
  display: flex;
  max-width: 1184px;
  padding: 28px 48px 0px;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    padding: 28px 24px 0px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    padding: 16px 16px 0;
  }
}