.cover {
  max-width: 1184px;
  min-height: 740px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 92px auto 0;
  color:  #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
    margin-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
    margin-top: 66px;
  }
}